.status {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 30px;
}

.fullName {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 4 0 110px;
}

.qualityProfileId {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 125px;
}

.year {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 0 80px;
}

.rootFolderPath {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 150px;
}

.gender,
.tags {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 1 0 60px;
}

.actions {
  composes: headerCell from '~Components/Table/VirtualTableHeaderCell.css';

  flex: 0 1 90px;
}
