.cell {
  /* composes: cell from '~Components/Table/Cells/VirtualTableRowCell.css'; */
  align-items: center;
}

.studioTitle {
  /* composes: cell; */
  display: flex;
  align-content: center;
  align-items: center;
  flex: 0 1 150px;
  flex-wrap: nowrap;
  min-height: 35px;
  border-top: 1px;
  text-overflow: ellipsis;
}

.title {
  /* composes: cell; */
  display: flex;
  align-content: center;
  align-items: center;
  flex: 1 0 300px;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 10px;
  min-width: 1px;
  min-height: 35px;
  text-overflow: clip;
  white-space: nowrap;
}

.performers {
  display: flex;
  align-content: center;
  align-items: center;
  flex: 1 0 200px;
  flex-wrap: wrap;
  overflow: hidden;
  margin-right: 10px;
  min-width: 1px;
  max-height: 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.releaseDate {
  /* composes: cell; */
  display: flex;
  align-content: center;
  align-items: center;
  flex: 0 0 120px;
  min-height: 35px;
}

.tmdbId,
.imdbId {
  /* composes: cell; */

  flex: 0 0 110px;
}