.header {
  display: flex;
  font-weight: bold;
}

.quality,
.title {
  flex: 0 1 250px;
}

.notice {
  composes: alert from '~Components/Alert.css';

  margin: 0;
  margin-bottom: 20px;
}

.sizeLimit {
  flex: 1 0 auto;
}

.megabytesPerMinute {
  flex: 0 0 150px;
  text-align: right;
}

.sizeLimitHelpTextContainer {
  display: flex;
  justify-content: center;
}

.sizeLimitHelpText {
  color: var(--helpTextColor);
}

@media only screen and (max-width: $breakpointSmall) {
  .header {
    display: none;
  }

  .definitions {
    &:first-child {
      border-top: none;
    }
  }
}
